.App {
  text-align: center;
}

body {
  border: 2px solid blue;
  border-radius: 25px;
  margin-top: 5rem;
  margin-left: 20rem;
  margin-right: 20rem;
  background-color: lavender;

}

.uppercase {
  text-transform: uppercase;
}